<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="icon" type="image/png" href="/cursedFavicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Chat Room</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
        <link href="../styles/main-style.css" rel="stylesheet" type="text/css">
<script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('message', function(data) {
            var messageDiv = document.createElement('div');
            messageDiv.innerHTML = '<strong>' + data.nickname + ':</strong> ' + data.content;
            document.getElementById('messages').appendChild(messageDiv);
            scrollToBottom();
        });

        function sendMessage() {
            var messageContent = document.getElementById('message').value;
            socket.emit('message', { content: messageContent });
            document.getElementById('message').value = '';
            scrollToBottom();
        }

        function scrollToBottom() {
          var messagesContainer = document.getElementById('messages');
          messagesContainer.scrollTop = messagesContainer.scrollHeight;
      }
    </script>
<link href="../static/styles/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
  <h1>ComCE</h1>
  <div id="messages"> {% for message in messages %}
    <p><strong>{{ message.user.nickname }}:</strong> {{ message.content }}</p>
    {% endfor %} </div>
  <input type="text" id="message" placeholder="Type your message" required>
  <button onclick="sendMessage()">Send</button>
  <a href="{{ url_for('logout') }}">Logout</a>
</div>
<div class="icons_container">
    <iframe src="https://raw.githubusercontent.com/CursedPrograms/cursedentertainment/main/icons/icon-container.html" frameborder="0"></iframe>
</div>
<footer id="dynamicFooter"></footer>
<script src="https://raw.githubusercontent.com/CursedPrograms/cursedentertainment/4499e7c8831917bfbb01fe5e99e1289602ef9b34/scripts/footer.js"></script>
</body>
</html>
