<!-- templates/login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
<link href="../static/styles/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container">
    <h1>Login</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="post">
        <label for="login_identifier">Email or Nickname:</label>
        <input type="text" name="login_identifier" required><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br>

        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
		</div>
</body>
</html>
