<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="icon" type="image/png" href="/cursedFavicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register</title>
<link href="../static/styles/styles.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="https://cursedprograms.github.io/cursedentertainment/styles/icon-style.css">
</head>
<body>
<div class="container">
  <h1>Register</h1>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <form method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Name:" required>
    <br>
    <label for="surname">Surname:</label>
    <input type="text" name="surname" placeholder="Surname:" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" placeholder="Email:" required>
    <br>
    <label for="nickname">Nickname:</label>
    <input type="text" name="nickname" placeholder="Nickname:"  required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password:" required>
    <br>
    <button type="submit">Register</button>
  </form>
  <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>

</div>
	<div class="icons_container">
    <iframe src="https://cursedprograms.github.io/cursedentertainment/icons/icon-container.html" frameborder="0"></iframe>
  </div>
<footer id="dynamicFooter"></footer>
<script src="https://github.com/CursedPrograms/cursedentertainment/blob/4499e7c8831917bfbb01fe5e99e1289602ef9b34/scripts/footer.js"></script>
</body>
</html>
